.hemis{
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.hemis img{
    width: 150px;
    transition: width 0.5s ease;
}

.hemis img:hover{
    width: 200px;
    
}

.hemis:hover{
    opacity: 1;
}